{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": [
        "packages/core/src/config",
        "packages/core/src/database",
        "packages/api/src/middlewares",
        "packages/core/src/services/storage",
        "packages/core/src/utils/logger.ts",
        "packages/core/src/services/transactions.ts",
        "packages/core/tests",
        "packages/api/tests"
    ]
}