{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": [
        "src/config",
        "src/database",
        "src/api/middlewares",
        "src/services/storage",
        "src/utils/logger.ts",
        "src/services/transactions.ts",
        "tests"
    ]
}