version: 2.1

orbs:
  coveralls: coveralls/coveralls@1.0.6

jobs:
  coverage:
    docker:
      - image: circleci/node:14.15.1
      - image: circleci/postgres:12-alpine
        environment:
          POSTGRES_USER: citest
          POSTGRES_DB: impactmarkettest
          POSTGRES_PASSWORD: test101
    steps:
      - checkout
      - run: yarn
      - run:
          name: "Run Tests and do Coverage Reports"
          command: yarn coverage:ci
          environment:
            DATABASE_URL: postgresql://citest:test101@localhost:5432/impactmarkettest
      - coveralls/upload
  lint:
    docker:
      - image: circleci/node:14.15.1
    steps:
      - checkout
      - run: yarn
      - run: yarn eslint-no-fix
      - run: yarn prettier-no-fix

workflows:
  version: 2
  test:
    jobs:
      - coverage
      - lint
